<%-include('../header')-%>
<head>
  <title>Categorias | Admin</title>
  <link
    href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css"
    rel="stylesheet"
  />
</head>
<body class="p-4" style="background-color: #15202b">
  <form method="post" class="w-full mb-6 flex flex-row gap-6">
    <input
      type="text"
      name="search"
      id="search"
      placeholder="Digite aqui o que você deseja pesquisar!"
      class="w-full p-3 outline-none bg-gray-700 text-white"
    />
    <input type="submit" value="Pesquisar" class="p-3 outline-none bg-blue-400 text-white" />
  </form>
  <table class="min-w-full bg-white">
    <thead class="bg-gray-800 text-white">
      <tr>
        <th class="text-left py-3 px-4 uppercase font-semibold text-sm">_id</th>
        <th class="text-left py-3 px-4 uppercase font-semibold text-sm">Nome</th>
        <th class="text-left py-3 px-4 uppercase font-semibold text-sm">Criado em</th>
        <th class="text-left py-3 px-4 uppercase font-semibold text-sm">Editar</td>
        <th class="text-left py-3 px-4 uppercase font-semibold text-sm">Deletar</td>
      </tr>
    </thead>
    <tbody class="bg-transparent text-gray-300">
      <% categories.forEach(function(category){ %>
      <tr class="bg-gray-700">
        <td class="text-left py-3 px-4"><%= category._id %></td>
        <td class="text-left py-3 px-4"><%= category.name %></td>
        <td class="text-left py-3 px-4"><%= category.created_at %></td>
        <td class="text-left py-3 px-4"><a href="/admin/category/edit/<%=category._id %>">Editar</a></td>
        <td class="text-left py-3 px-4"><form method="post" action="/admin/category/del/<%=category._id %>"><button type="submit">Deletar</button></form></td>
      </tr>
      <% }) %>
    </tbody>
  </table>
</body>

