<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>IFtter Feed</title>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css"
      rel="stylesheet"
    />
  </head>

  <body
    class="w-full h-screen px-6 flex flex-row text-white gap-6 xl:px-64"
    style="background-color: #15202b"
  >
    <nav
      class="my-8 px-2 flex flex-col gap-2 justify-between"
      style="width: 275px"
    >
      <div class="flex flex-col gap-6">
        <h1 class="text-lg">IFtter</h1>

        <div class="flex flex-col gap-2">
          <a
            href="/dashboard"
            class="group flex items-center px-2 py-2 text-base leading-6 font-semibold rounded-full bg-gray-800 text-blue-300"
          >
            <svg
              class="mr-4 h-6 w-6"
              stroke="currentColor"
              fill="none"
              viewBox="0 0 24 24"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M3 12l9-9 9 9M5 10v10a1 1 0 001 1h3a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1h3a1 1 0 001-1V10M9 21h6"
              ></path>
            </svg>

            Home
          </a>
          <a
            href="/auth/logout"
            class="bg-blue-400 hover:bg-blue-500 text-center w-full mt-5 text-white font-bold py-2 px-4 rounded-full"
          >
            Sair
          </a>
        </div>
      </div>

      <div class="flex items-center">
        <div
          class="flex-shrink-0 flex hover:bg-gray-800 rounded-full px-4 py-3 mt-12 mr-2"
        >
          <a
            href="/dashboard/profile/<%= user.id %>"
            class="flex-shrink-0 group block"
          >
            <div class="flex items-center">
              <div
                class="flex items-center justify-center h-10 w-10 rounded-full"
              >
                <img
                  src="/avatars/<%= user.avatar %>"
                  class="w-10 h-10 rounded-full"
                />
              </div>
              <div class="mx-3">
                <p class="text-base leading-6 font-medium text-white">
                  <%= user.username %>
                </p>
                <p
                  class="text-sm leading-5 font-medium text-gray-400 group-hover:text-gray-300 transition ease-in-out duration-150"
                >
                  <%= user.email %>
                </p>
              </div>
            </div>
          </a>
        </div>
      </div>
    </nav>

    <!-- Conteúdo do feed -->
    <main class="flex flex-col gap-6 py-5 px-4" style="width: 60%">
      <form method="post" action="/api/post/add">
        <div class="flex">
          <div class="m-2 w-10 py-1">
            <img
              class="inline-block h-10 w-10 rounded-full"
              src="/avatars/<%= user.avatar %>"
            />
          </div>
          <div class="flex-1 px-2 pt-2 mt-2">
            <textarea
              id="content"
              name="content"
              class="bg-transparent text-gray-400 font-medium text-lg w-full outline-none"
              rows="2"
              cols="50"
              placeholder="O que está acontecendo?"
              required
            ></textarea>
          </div>
        </div>
        <div class="flex">
          <div class="flex flex-row items-center gap-4 mx-auto mt-5">
            <label for="select" class="block text-gray-400 font-semibold"
              >Categoria</label
            >
            <div class="w-64">
              <select
                id="select"
                name="select"
                required
                class="appearance-none w-full bg-gray-800 px-4 py-2 pr-8 rounded-full leading-tight focus:outline-none focus:shadow-outline"
              >
                <option value="" class="text-gray-400" disabled selected>
                  Escolha uma opção
                </option>
                <% categories.forEach(function(category) { %>
                <option value="<%= category._id %>">
                  <%= category.name %>
                </option>
                <% }) %>
              </select>
              <div
                class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700"
              >
                <svg
                  class="fill-current h-4 w-4"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                >
                  <path
                    d="M9.293 13.293a1 1 0 0 1-1.414-1.414L9 10.586V4a1 1 0 1 1 2 0v6.586l1.707 1.707a1 1 0 0 1-1.414 1.414l-2-2z"
                  ></path>
                </svg>
              </div>
            </div>
          </div>

          <div class="flex-1">
            <button
              type="submit"
              class="bg-blue-400 hover:bg-blue-500 mt-5 text-white font-bold py-2 px-8 rounded-full mr-8 float-right"
            >
              IFeet
            </button>
          </div>
        </div>
      </form>

      <% posts.forEach(function(post) { %>
      <article class="hover:bg-gray-800 transition duration-350 ease-in-out">
        <div class="flex items-center justify-between flex-shrink-0 p-4 pb-0">
          <a
            href="/dashboard/profile/<%= post.author._id %>"
            class="flex-shrink-0 group block"
          >
            <div class="flex items-center">
              <div>
                <img
                  class="inline-block h-10 w-10 rounded-full"
                  src="/avatars/<%= post.author.avatar %>"
                  alt=""
                />
              </div>
              <div>
                <p class="text-base leading-6 font-medium text-white ml-2">
                  <%= post.author.username %>
                  <span
                    class="text-sm leading-5 font-medium text-gray-400 group-hover:text-gray-300 transition ease-in-out duration-150"
                  >
                    <%= post.author.email %> | <%=
                    moment(post.created_at).fromNow() %>
                  </span>
                </p>
                <span class="text-sm leading-5 font-medium text-gray-400 ml-2"
                  ><%= post.category.name %></span
                >
              </div>
            </div>
          </a>

          <% if (post.author._id == user.id) {%>
          <div class="flex flex-row gap-4">
            <a
              href="/dashboard/post/edit/<%= post._id %>"
              class="cursor-pointer"
            >
              Editar
            </a>
            <form
              method="post"
              action="/api/post/del/<%= post._id %>"
              class="text-red-400 cursor-pointer"
            >
              <button type="submit">Excluir</button>
            </form>
          </div>
          <% } %>
        </div>

        <div class="pl-16">
          <p class="text-base width-auto font-medium text-white flex-shrink">
            <%= post.content %>
          </p>

          <div class="flex items-center py-4">
            <div
              class="flex-1 flex items-center text-white text-xs text-gray-400 hover:text-blue-400 transition duration-350 ease-in-out cursor-pointer"
            >
              <svg viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5 mr-2">
                <g>
                  <path
                    d="M14.046 2.242l-4.148-.01h-.002c-4.374 0-7.8 3.427-7.8 7.802 0 4.098 3.186 7.206 7.465 7.37v3.828c0 .108.044.286.12.403.142.225.384.347.632.347.138 0 .277-.038.402-.118.264-.168 6.473-4.14 8.088-5.506 1.902-1.61 3.04-3.97 3.043-6.312v-.017c-.006-4.367-3.43-7.787-7.8-7.788zm3.787 12.972c-1.134.96-4.862 3.405-6.772 4.643V16.67c0-.414-.335-.75-.75-.75h-.396c-3.66 0-6.318-2.476-6.318-5.886 0-3.534 2.768-6.302 6.3-6.302l4.147.01h.002c3.532 0 6.3 2.766 6.302 6.296-.003 1.91-.942 3.844-2.514 5.176z"
                  ></path>
                </g>
              </svg>
              12.3 k
            </div>
            <div
              class="flex-1 flex items-center text-white text-xs text-gray-400 hover:text-green-400 transition duration-350 ease-in-out cursor-pointer"
            >
              <svg viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5 mr-2">
                <g>
                  <path
                    d="M23.77 15.67c-.292-.293-.767-.293-1.06 0l-2.22 2.22V7.65c0-2.068-1.683-3.75-3.75-3.75h-5.85c-.414 0-.75.336-.75.75s.336.75.75.75h5.85c1.24 0 2.25 1.01 2.25 2.25v10.24l-2.22-2.22c-.293-.293-.768-.293-1.06 0s-.294.768 0 1.06l3.5 3.5c.145.147.337.22.53.22s.383-.072.53-.22l3.5-3.5c.294-.292.294-.767 0-1.06zm-10.66 3.28H7.26c-1.24 0-2.25-1.01-2.25-2.25V6.46l2.22 2.22c.148.147.34.22.532.22s.384-.073.53-.22c.293-.293.293-.768 0-1.06l-3.5-3.5c-.293-.294-.768-.294-1.06 0l-3.5 3.5c-.294.292-.294.767 0 1.06s.767.293 1.06 0l2.22-2.22V16.7c0 2.068 1.683 3.75 3.75 3.75h5.85c.414 0 .75-.336.75-.75s-.337-.75-.75-.75z"
                  ></path>
                </g>
              </svg>
              14 k
            </div>
            <div
              class="flex-1 flex items-center text-white text-xs text-gray-400 hover:text-red-600 transition duration-350 ease-in-out cursor-pointer"
            >
              <svg viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5 mr-2">
                <g>
                  <path
                    d="M12 21.638h-.014C9.403 21.59 1.95 14.856 1.95 8.478c0-3.064 2.525-5.754 5.403-5.754 2.29 0 3.83 1.58 4.646 2.73.814-1.148 2.354-2.73 4.645-2.73 2.88 0 5.404 2.69 5.404 5.755 0 6.376-7.454 13.11-10.037 13.157H12zM7.354 4.225c-2.08 0-3.903 1.988-3.903 4.255 0 5.74 7.034 11.596 8.55 11.658 1.518-.062 8.55-5.917 8.55-11.658 0-2.267-1.823-4.255-3.903-4.255-2.528 0-3.94 2.936-3.952 2.965-.23.562-1.156.562-1.387 0-.014-.03-1.425-2.965-3.954-2.965z"
                  ></path>
                </g>
              </svg>
              14 k
            </div>
            <div
              class="flex-1 flex items-center text-white text-xs text-gray-400 hover:text-blue-400 transition duration-350 ease-in-out cursor-pointer"
            >
              <svg viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5 mr-2">
                <g>
                  <path
                    d="M17.53 7.47l-5-5c-.293-.293-.768-.293-1.06 0l-5 5c-.294.293-.294.768 0 1.06s.767.294 1.06 0l3.72-3.72V15c0 .414.336.75.75.75s.75-.336.75-.75V4.81l3.72 3.72c.146.147.338.22.53.22s.384-.072.53-.22c.293-.293.293-.767 0-1.06z"
                  ></path>
                  <path
                    d="M19.708 21.944H4.292C3.028 21.944 2 20.916 2 19.652V14c0-.414.336-.75.75-.75s.75.336.75.75v5.652c0 .437.355.792.792.792h15.416c.437 0 .792-.355.792-.792V14c0-.414.336-.75.75-.75s.75.336.75.75v5.652c0 1.264-1.028 2.292-2.292 2.292z"
                  ></path>
                </g>
              </svg>
            </div>
          </div>
        </div>
        <hr class="border-gray-800" />
      </article>
      <% }) %>
    </main>
  </body>
</html>
